
.nav_list .bio_text em{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 102px;
    height: 28px;
    line-height: 28px;
    background-color:#DAD3C7;
    color:#4F6357;
    opacity: 90%;
}
.sprite{
    display: inline-block;

}

.bg-icon-qq {
    width: 18px; height: 18px;
    background: url('img/css_sprites.png') -8px -8px;
}
.bg-icon-weixin {
    width: 18px; height: 18px;
    background: url('img/css_sprites.png') -46px -8px;
}
.bg-icon-weibo{
    width: 18px; height: 18px;
    background: url('img/css_sprites.png') -84px -8px;
}
.bg-icon-github {
    width: 18px; height: 18px;
    background: url('img/css_sprites.png') -122px -8px;
}

.content{
    margin-left: 240px;
    height: 900px;
}
.nav_content{
    width: 960px;
    height: 50px;
    position: fixed;
    left: auto;
    top: 0;
    z-index: 20;
}
.nav_top{
    background-color:#63786B;
    opacity: 85%;
    width: 954px;
    height: 50px;
    float: left;
    margin-left: 6px;
}
.nav_content_list {
    float: left;
    width: 350px;
    height: 50px;
    margin-left: 320px;
    line-height: 50px;
}
.nav_content_list li{
    float: left;
    margin-right: 70px;
}
.nav_content_list em{
    color: white;
    font-family: 'webfont';
}
.return{
    display: none;
}
.edit img{
    margin-top: 5px;
    margin-right: 8px;
    float: right;
    width: 40px;
}
.main{
    border: 2px solid #C6BEB2;
    float: left;
    background-color:rgba(198, 190, 178,86%) ;
    width:890px;
    margin-top: 54px;
    margin-left: 6px;
    padding: 30px;
}
.main img{
    float: left;
    margin-right: 20px;
    width: 200px;
}
.main p{
    text-indent: 2em;
    font-size: 18px;
    font-weight: lighter;
    color: #333333;
}
.footer{
    width: fit-content;
    height: 50px;
    line-height: 50px;
    margin-top: auto;
    margin: auto;
    color:#999;
    font-size: 14px;
}

@media only screen and (max-width:500px){
    .nav_content_list {
        height: 50px;
        line-height: 50px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .nav_content_list li{
        float: left;
        margin-left: 50px;
        margin-right: 10px;
    }
    .nav_content_list li:first-child{
        margin-left: 10px;
        display: inline;
    }
    .main img{
        margin-right: 10px;
        width: 50px;
    }
    .main p{
        font-size: 14px;
    }
}