.content{
    margin-left: 240px;
    height: 900px;
}
.nav_content{
    
    width: 960px;
    height: 50px;
    position: fixed;
    left: auto;
    top: 0;
    z-index: 20;
}
.nav_top{
    background-color:#63786B;
    opacity: 85%;
    width: 954px;
    height: 50px;
    float: left;
    margin-left: 6px;
}
.nav_top li{
    line-height: 50px;
    text-align: center;
    color: #ffffff;
}
.return{
    display: none;
}
.main{
    border: 2px solid #C6BEB2;
    float: left;
    background-color:rgba(198, 190, 178,86%) ;
    width:890px;
    margin-top: 54px;
    margin-left: 6px;
    padding: 30px;
    min-height: 600px;
}

.upload-wrap{
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 4px;
}
.upload-wrap .file-ele{
    position: absolute;
    top:0;
    right:0;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.upload-wrap .file-open{
    width:90px;
    height:30px;
    line-height:30px;
    text-align: center;
    font-size: 14px;
    color:#fff;
    background: #63786B;
}

.main li{
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 30px;
}
.main li .text{
    opacity: 50%;
}
.main form{
    border:#63786B solid 4px;
    padding: 30px;
}
.textarea{
    width: 90%;
    height: 100px;
    padding: 12px;
    font-size: 18px;
    font-weight: 400;
}
.reset{
    width:90px;
    height:30px;
    line-height:30px;
    text-align: center;
    color:#63786B;
    background: #C6BEB2;
    border:#63786B solid 1px;
    border-radius: 4px;
    margin-right: 20px;
}
.submit{
    width:90px;
    height:30px;
    line-height:30px;
    text-align: center;
    color:#ffffff;
    background: #63786B;
    border-radius: 4px;
}
#img{
    width: 50%;
}
@media only screen and (max-width:500px){
    .nav_content_list {
        padding-left: 0px;
    }
    .nav_content_list li{
        margin-left: 10px;
        margin-right:70px;
    }
    .nav_content_list li:first-child{
        margin-left: 10px;
        display: inline;
    }
    .return{
        margin-right: 100px;
    }
}
  